:root {
	--black: #373737;
	--white: #f4f4f4;
	--font-family: 'Montserrat', sans-serif;
}

body {
	background-color: var(--white,#f4f4f4);
	color: var(--black, #373737);
	font-family: var(--font-family, 'sans-serif');
}

td { 
	text-transform: uppercase; 
}

header {
	padding: 2rem 0;
}
